# OpenSSL configuration for a self-signed root CA certificate.
# References:
#   https://www.ibm.com/docs/en/ztpf/1.1.0.15?topic=gssccr-configuration-file-generating-self-signed-certificates-certificate-requests
#   https://superuser.com/questions/738612/openssl-ca-keyusage-extension
[req]
prompt                 = no
days                   = 1024
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
x509_extensions        = v3_ca
[req_distinguished_name]
countryName            = US
stateOrProvinceName    = California
localityName           = San Francisco
organizationName       = Example Org
organizationalUnitName = IT
commonName             = ca.example.com
emailAddress           = ca-admin@example.com
[ v3_ca ]
basicConstraints                = critical,CA:true
keyUsage                        = cRLSign,keyCertSign
subjectKeyIdentifier            = hash
[ v3_req ]
nsCertType                      = emailCA,sslCA,objCA,objsign
